<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <h1><%= message %></h1>
  <form action="">
    <input type="text" placeholder="Search..." required>
    <input type="submit" name="Search">
  </form>

</body>
</html>
